@page
@addTagHelper *, DfE.WorkingTime.Recorder

@model IndexModel

@{
    ViewData["Title"] = "Working Time Recorder";
}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @*<h1 class="govuk-heading-xl">
            Developer Hub
        </h1>*@
            <p class="govuk-!-font-size-24">
                Use this service to record your daily hours worked.
            </p>

            <vc:working-time-control working-time-control-type="Working time Component">
            </vc:working-time-control>
            @*<p class="govuk-!-font-size-24">
            We are testing this service with selected users. It is not currently available to everyone.
        </p>*@
        </div>
    </div>
</div>

@*<div class="herospace govuk-!-padding-top-9 govuk-!-padding-bottom-6 govuk-!-margin-bottom-6">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">
                        Developer Hub
                    </h1>
                    <p class="govuk-!-font-size-24">
                        Use this service to connect your MIS product to Department for Education systems by API.
                    </p>
                    <p class="govuk-!-font-size-24">
                        We are testing this service with selected users. It is not currently available to everyone.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-body govuk-grid-row govuk-!-margin-bottom-9 startpage-hooks">
                <div class="govuk-grid-column-one-third govuk-!-margin-bottom-9">
                    <h2 class="govuk-heading-m">Explore APIs</h2>
                    <a href="/ApiDocumentationPublic">Open APIs</a>
                </div>
            </div>
        </main>
    </div>*@
@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
