@page
@addTagHelper *, DfE.WorkingTime.Recorder
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WorkingTimeControlInvokeAsync</title>
</head>
<body>
    <vc:working-time-control working-time-control-type="Hello Component">
        </vc:working-time-control>
</body>
</html>
